.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: bold;
    font-size: 3rem;
  }

  p {
    margin-top: 1rem;
  }

  .wrapper {
    padding: 20px;
    text-align: center;
  }

  .usersList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }

  .userCard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 2rem;
  }

  .userCard:hover {
    transform: scale(1.05);
  }

  .userName {
    font-size: 18px;
    font-weight: bold;
    max-width: 150px;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .userEmail {
    font-size: 14px;
    color: #666;
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 150px;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;

  a {
    margin-bottom: 0.5rem;
  }
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  button {
    margin: 1rem 0;
  }
}

.loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  margin: 4rem 0;
  width: 100%;
}
